<div class="modal-dialog modal-lg modal-top" role="document">
    <div class="modal-content">
        <div class="modal-header">
            Documentos do Cliente
        </div>
        <div class="modal-body">
            <form novalidate name="formDocCliente" role="form">
                <div class="row">
                    <div class="form-group row col-md-12">
                        <div class=" form-group col-md-6">
                            <select ng-model="vm.doc.tipoDocumento" class="form-control-sm col-md-12">
                                <option value="" disabled selected>Selecione o tipo de documento</option>
                                <option value="RG">RG</option>
                                <option value="CPF">CPF</option>
                                <option value="CNPJ">CNPJ</option>
                                <option value="CNH">CNH</option>
                                <option value="CRM">CRM</option>
                                <option value="CRO">CRO</option>
                                <option value="CRP">CRP</option>
                                <option value="PIS/PASEP">PIS/PASEP</option>
                                <option value="Título Eleitor">Título Eleitor</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" ng-model="vm.doc.documento" maxlength="30" placeholder="Documento" class="form-control-sm col-md-12">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button data-dismiss="modal" ng-click="vm.adicionarDocumento()" class="btn btn-blue-grey btn-sm mt-1">Adicionar</button>
            <button ng-click="vm.adicionarDocumento()" class="btn btn-blue-grey btn-sm mt-1">Adicionar mais</button>
            <button data-dismiss="modal" class="btn btn-blue-grey btn-sm mt-1">Cancelar</button>
        </div>
    </div>
</div>


