
.modal-lg {
    max-width: 80% !important;
}

.fontSize{
    font-size: 12px;
}

.table{
    margin-bottom: 0 !important;
}


.material-icons{
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
}


.branco{
    color: #f7f7f7;
}

.requerido input.ng-invalid.ng-touched {
    border-color: red;
}
.requerido select.ng-invalid.ng-touched {
    border-color: red;
}
.formataLabel {
    font-size: 13px;
    font-weight: bold;
}