.table-wrapper-scroll-y {
    display: block;
    min-height: 100px;
    max-height: min-content;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal-lg {
    max-width: 80% !important;
}

.btnReduzido {
    padding: .0rem 0.4rem;
    font-size: .6rem;
}

.scrollTableModal {
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal-body {
    max-height: calc(100vh - 210px) !important;
    overflow-y: auto !important;
}

.fontSize{
    font-size: 12px;
}

.table{
    margin-bottom: 0 !important;
}


.body{
    overflow: visible;
}

.md-autocomplete-suggestions-container{
    z-index:100000 !important; /* any number of choice > 1050*/
}

.material-icons{
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
}
