<meta charset="UTF-8"/>
<base href="/"></base>
<div ng-controller="listaEstoqueController as vm">
    <div class="mr-4 ml-4">
        <div class="card margem">
            <div class="card ">
                <div class="card-header">
                    Lista de Produtos do Estoque
                    <div class="float-right">
                        <button type="button" data-toggle="modal" data-target="#modalCadastroEstoque" class="btn btn-blue-grey btn-sm">Adicionar</button>
                    </div>
                    <div class="float-right">
                        <button type="button" data-toggle="modal" data-target="#modalImprimir" class="btn btn-blue-grey btn-sm">Imprimir</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group row col-md-12">
                            <div class="form-group col-md-4">
                                <input type="text" ng-model="vm.filtro" ng-keyup="vm.filtrar($event)" placeholder="Buscar" class="form-control mt-2 form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row col-md-12">
                            <div class="form-group col-md-1">
                                <button type="button" ng-click="vm.proximaPagina()" class="btn btn-blue-grey btn-sm"> ></button>
                            </div>
                            <div class="mt-2 form-group col-md-1">
                                <select ng-change="vm.carregarEstoque(true)" ng-model="vm.quantidaDeRegistrosPorPagina" class="form-control-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <button type="button" ng-click="vm.paginaAnterior()" class="btn btn-blue-grey btn-sm"> <</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y" >
                        <table class="table table-hover table-sm table-bordered " id="tableEstoque" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="th-sm">Id</th>
                                <th class="th-sm">Produto</th>
                                <th class="th-sm">Quantidade</th>>
                                <th class="th-sm">Opções</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="est in vm.estoques">
                            <tr>
                                <td>{{est.idEstoque}}</td>
                                <td>{{est.produto.descricao}}</td>
                                <td>{{est.quantidade}}</td>
                                <td>
                                    <button class="btn btn-blue-grey btnReduzido dropdown-toggle" type="button" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu">
                                        <a data-toggle="modal" data-target="#modalCadastroEstoque" ng-click="vm.alterar(est)" class="dropdown-item">Alterar</a>
                                        <a class="dropdown-item" ng-click="vm.excluir(est)">Excluir</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" id="modalCadastroEstoque" role="dialog">
        <div ng-include src="'./module/cadastroEstoqueComponent/cadastroEstoque.html'"></div>
    </div>

    <div class="modal fade " data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" id="modalImprimir" role="dialog">
        <div ng-include src=""></div>
    </div>
</div>

