
<div ng-controller="listaEstoqueController as vm">
    <div class="modal-dialog modal-lg modal-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Cadastro de Estoque
            </div>
            <div class="modal-body">
                <form novalidate name="formProduto" role="form">
                    <div class="row">
                        <div class="form-group row col-md-12">
                            <div class="form-group col-md-12">

                               <!-- <input list="produtos" type="text"
                                       placeholder="Digite o nome do produto"
                                       ng-model="vm.estoque.produto"
                                       ng-keyup="vm.carregaAutoComplete($event)"
                                       class="form-control form-control-sm" />
                                <datalist id="produtos"></datalist>-->
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" ng-model="vm.estoque.quantidade" min="0"  placeholder="Quantidade" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" ng-model="vm.estoque.valor" min="0" placeholder="Valor" class="form-control form-control-sm">
                            </div>
                            <div class=" form-group col-md-4">
                                <select ng-required="true" ng-model="vm.estoque.unidadeMedida.idUnidade" ng-options="un.idUnidade as un.descricao for un in vm.unidadesMedidas"
                                        class="form-control-sm col-md-12">
                                    <option  value="" disabled selected>Selecione a unidade de medida</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button data-dismiss="modal" ng-click="vm.salvarEstoque()" class="btn btn-blue-grey btn-sm mt-1">Salvar</button>
                <button class="btn btn-blue-grey btn-sm mt-1">Salvar e adicionar novo registro</button>
                <button data-dismiss="modal" class="btn btn-blue-grey btn-sm mt-1">Cancelar</button>
            </div>
        </div>
    </div>
</div>


