<div ng-controller="usuarioController as vm">
    <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="float-right mt-5">
                    <img ng-src="{{vm.imagemUsuario}}" alt="avatar" class="rounded-circle img-responsive">
                </div>
            </div>
            <div class="modal-body">
                <form  novalidate name="formPerfil" role="form">
                    <div class="row">
                        <div class="form-group row col-md-12" >
                            <div class="form-group col-md-4">
                                <label for="inpNome">Nome</label>
                                <input ng-model="vm.usuario.nome" type="text" id="inpNome" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inpLogin">Login</label>
                                <input ng-model="vm.usuario.login" type="text" id="inpLogin" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inpEmail">Email</label>
                                <input ng-model="vm.usuario.email" type="text" id="inpEmail" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inpSenha">Senha</label>
                                <input ng-model="vm.usuario.senha" type="password" id="inpSenha" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inpFlagAdministrador">Administrador</label>
                                <select id="inpFlagAdministrador" ng-model="vm.usuario.flagAdministrador" class="form-control form-control-sm">
                                    <option value="1">Sim</option>
                                    <option value="2">Nao</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="text-center mt-4">
                    <button data-dismiss="modal" class="btn btn-blue-grey btn-sm mt-1">Salvar </button>
                    <button data-dismiss="modal" class="btn btn-blue-grey btn-sm mt-1">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>