<!DOCTYPE html>
<html lang="pt-br"  ng-app="app" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/"></base>
    <title>Prova Desenvolvedor</title>
    <link rel="shortcut icon" href="./image/icone.ico"/>

    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/style.min.css">

    <link rel="stylesheet" href="./app/cssGlobal.css">
    <link rel="stylesheet" href="./module/cadastroClienteComponent/cadastroCliente.css">

    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/libraries/notifIt.css">

    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/angular-material/angular-material.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/material-icons.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/md-data-table.css">

    <script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-cookies.js"></script>

    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/bootbox.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/libraries/notifIt.min.js"></script>


    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-aria.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-messages.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-material/md-data-table.min.js"></script>
    <script type="text/javascript" src="./bibliotecas/jQuery/angular/rw-money-mask.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>



</head>

<body>
<div ng-controller="homeController as vm">
    <md-toolbar class="blue-grey" >
        <div class="md-toolbar-tools">
            <md-menu-bar>
                    <button class="branco" ng-click="vm.goToPagina('cliente')">
                       Clientes
                    </button>
            </md-menu-bar>
            <h2 flex md-truncate></h2>
                <md-menu-item>
                    <md-menu>
                        <md-button aria-label="perfilusuario" ng-mouseenter="$mdMenu.open()"> <img class="rounded-circle img-fluid imagePointer" ng-src="{{vm.imagemUsuario}}" height="30" width="45" alt=""></md-button>
                        <md-menu-content ng-mouseleave="$mdMenu.close()">
                            <md-menu-item ><md-button ng-click="vm.sair($event)" >Sair</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>
        </div>
    </md-toolbar>
</div>


<div ng-view=""></div>


<footer class="page-footer font-small blue-grey fixed-bottom">
    <div class="footer-copyright text-center py-0">© 2018 Copyright:
        <a href="">Prova desenvolvedor</a>
        <p class="text-center mb-0">Versão 1.00</p>
    </div>
</footer>
</body>


<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/mdb.min.js"></script>

<script type="text/javascript" src="./service/usuarioService.js"></script>

<script type="text/javascript" src="./moduloService/clienteService.js"></script>
<script type="text/javascript" src="./moduloService/riscoService.js"></script>


<script type="text/javascript" src="./functionService/mesageService.js"></script>

<script type="text/javascript" src="./controllerTemplate/homeController.js"></script>
<script type="text/javascript" src="./usuario/usuarioController.js"></script>
<script type="text/javascript" src="./module/listaClienteComponent/listaClienteController.js"></script>

</html>