<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/"></base>
    <title>Prova Desenvolvedor</title>
    <link rel="shortcut icon" href="./image/icone.ico"/>
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/bootstrap/css/style.min.css">
    <link rel="stylesheet" href="./bibliotecas/jQuery/angular/libraries/notifIt.css">
    <link rel="stylesheet" href="./cssTemplate/login.css">


</head>
<body>
<div ng-controller="loginController as vm" ng-cloak>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first mt-4 mb-2">
                <img src="./image/semfoto.png" height="100" width="100" class="rounded-circle img-responsive"/>
            </div>
            <form ng-submit="vm.autenticar()">
                <input ng-model="vm.usuario.login" type="text" id="login" class="fadeIn second" name="login" placeholder="usuário">
                <input ng-model="vm.usuario.senha" type="password" id="password" class="fadeIn third" name="login" placeholder="senha">
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>
            <div id="formFooter">
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/angular.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-cookies.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-route.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/angular-ui-router.min.js"></script>

<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bibliotecas/jQuery/angular/bootstrap/js/mdb.min.js"></script>

<script type="text/javascript" src="./bibliotecas/jQuery/angular/libraries/notifIt.min.js"></script>


<script type="text/javascript" src="./controllerTemplate/loginController.js"></script>

</html>